<!DOCTYPE html>

<html lang="pt">

<head>

  <meta charset="UTF-8" />

  <title>GE</title>

  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <link href="https://cdn.jsdelivr.net/npm/modern-normalize@v3.0.1
/modern-normalize.min.css" rel="stylesheet">

  <script src="https://unpkg.com/htmx.org@2.0.4"></script>

  <link rel="icon" href="favicon.png">

</head>

<body>

  <header>

    <h1>Gerenciador de Equipamentos</h1>

  </header>

  <nav></nav>

  <main>

    <h2>Tópicos</h2>

    <content
      class="topics"    
      hx-get="/messages"
      hx-trigger="every 1s"
      hx-swap="innerHTML">

  </main>

  <footer></footer>

</body>

</html>

<style>
body {
  margin: 2rem;
}

th, td {
  padding: 1rem;
}

.topics {
  display: flex;
}
</style>
